In [ ]:
!pip install gcsfs

In [105]:
# For scientific calculations
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB

In [106]:
import pandas as pd
import gcsfs

In [152]:
fs = gcsfs.GCSFileSystem(project='omina-gcp-resource')
with fs.open('omina-test-set/occupancy-data/occupancy_data.csv') as f:
    df = pd.read_csv(f)

In [153]:
import google.datalab.storage as storage
import pandas as pd
from io import BytesIO

mybucket = storage.Bucket('omina-test-set')
data_csv = mybucket.object('occupancy-data/occupancy_data.csv')

uri = data_csv.uri
%gcs read --object $uri --variable data

df = pd.read_csv(BytesIO(data))
# df.head()

In [154]:
df['date'] = pd.to_datetime(df['date'])
df.index = df['date']
del df['Unnamed: 0']

In [155]:
df = df.sort_values(by='date')
df_group = df.groupby(pd.Grouper(key = 'date', freq = 'D'))
df['NSM'] = df.date.apply(lambda x: x - x.replace(hour=0, minute=0, second=0)).dt.total_seconds()
df['WS'] = ((pd.DatetimeIndex(df.index).dayofweek) // 5 == 1).astype(int)
df.head()

,date,Temperature,Humidity,Light,CO2,HumidityRatio,Occupancy,NSM,WS
date,,,,,,,,,
2015-02-02 14:19:00,2015-02-02 14:19:00,23.7000,26.272,585.200000,749.200000,0.004764,1,51540.0,0
2015-02-02 14:19:59,2015-02-02 14:19:59,23.7180,26.290,578.400000,760.400000,0.004773,1,51599.0,0
2015-02-02 14:21:00,2015-02-02 14:21:00,23.7300,26.230,572.666667,769.666667,0.004765,1,51660.0,0
2015-02-02 14:22:00,2015-02-02 14:22:00,23.7225,26.125,493.750000,774.750000,0.004744,1,51720.0,0
2015-02-02 14:23:00,2015-02-02 14:23:00,23.7540,26.200,488.600000,779.000000,0.004767,1,51780.0,0

In [111]:
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [ ]:
df['2015-02-03' : '2015-02-04'].plot(subplots=True, figsize=(15,8), linewidth=5, fontsize=20)
plt.legend(loc='best')

In [113]:
corr = df.corr()

In [ ]:
sns.heatmap(corr, annot="True", cmap="YlGnBu")

In [ ]:
sns.pairplot(df)

In [117]:
df.isnull().values.any()

False

In [156]:
y = df["Occupancy"]
X = df.drop("Occupancy", axis=1)

In [157]:
tscv = TimeSeriesSplit(n_splits=3)
print(tscv)
X=X.values.reshape(-1,1)
y=y.values.reshape(-1,1)

for train_index, test_index in tscv.split(X):
   print("TRAIN:", train_index, "TEST:", test_index)
   X_train, X_test = X[:len(train_index)], X[len(train_index): (len(train_index)+len(test_index))]
#    y_train, y_test = y[train_index], y[test_index]

TimeSeriesSplit(max_train_size=None, n_splits=3)
('TRAIN:', array([    0,     1,     2, ..., 41117, 41118, 41119]), 'TEST:', array([41120, 41121, 41122, ..., 82237, 82238, 82239]))
('TRAIN:', array([    0,     1,     2, ..., 82237, 82238, 82239]), 'TEST:', array([ 82240,  82241,  82242, ..., 123357, 123358, 123359]))
('TRAIN:', array([     0,      1,      2, ..., 123357, 123358, 123359]), 'TEST:', array([123360, 123361, 123362, ..., 164477, 164478, 164479]))

In [168]:
X_train

array([[Timestamp('2015-02-02 14:19:00')],
       [23.7],
       [26.272],
       ...,
       [0.0050651156933169605],
       [70739.0],
       [1]], dtype=object)

In [ ]:
# # Random Forest in train data 
# random_forest = RandomForestClassifier(n_estimators=100)
# random_forest.fit(X_train, y_train)
# acc_random_forest = round(random_forest.score(X_train, y_train) * 100, 2)
# print("Mean Accuracy for Random Forest in train data: ", acc_random_forest, "%")